@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap');
body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;

}
* {
	box-sizing: border-box;
}
/* container */
.container {
	width: 100%;
	max-width: 1048px;
	margin: 0 auto;

}
/* header */
.header {
	background: url(./images/cover.png) no-repeat center;
	width: 100%;
	height: 828px;
	padding: 36px;

}
.header__logo {
	font-style: normal;
	font-weight: bold;
	font-size: 24px;

}
a {
	text-decoration: none;

}

/* nav */
.nav {

	align-items: baseline;


}
.nav__link {
	margin: 15px;
	font-weight: 600;
	font-size: 14px;
	color: #737373;

}
.header__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
}
.section {
	display: flex;
	justify-content: space-between;

	padding-top: 150px;

}
.section__text {
	max-width: 600px;
}
.section__title {
	color: #252B42;
	font-size: 58.5px;
	max-width: 693px;
	font-weight: 800;
	
}
.section__suptitle {
	font-family: 'Monserrat', sans-serif;
	font-style: normal;
	font-size: 20px;
	font-weight: 500;
	line-height: 30px;
	max-width: 479px;
	color: #737373;

}
.btn__section:hover {
	background: #00a0c1;
	color: #fff;
}
.btn__section {
	padding: 10px 36px;
	border: 1px solid #00A0C1;
	border-radius: 37px;
	
	color: #00a0c1;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 28px;
}
.header__form {
	
    width: 428px;
    height: 619px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
}
.form__title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    margin: 40px 0;


}
.form__div {
 width: 100%;
}
.form {
	
    width: 348px;
    height: 369px;
}
.form__label {
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    color: #252b42;
}
.form__input {
    outline: none;

}
.form__input {
	width: 100%;
	background-color: #f9f9f9;
	border: 1px solid #bdbdbd;
	border-radius: 5px;
	font-family: 'Monserrat', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 28px;
	padding-top: 11px;
	padding-bottom: 11px;
	padding-right: 0;
	padding-left: 21px;
	margin: 10px 0;


}
.department__select {
	width: 100%;
    background-color: #f9f9f9;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    font-family:'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    color: #737373;
    
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 21px;
    padding-right: 0;

}
.opt {
}
.time__select {
	width: 100%;
    background-color: #f9f9f9;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    font-family:'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    color: #737373;
    
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 21px;
    padding-right: 0;
}
.book {
	background-color: #ffa62b;
	border-radius: 5px;
	width: 348px;
	height: 58px;
	border: none;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 28px;
	color: #fff;
	margin-top: 40px;
	outline: none;
}
.opt {
	font-family:'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    color: #737373;
}


.section-2 {
	height: 100%;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.limit {
}
.section-2-text {
	text-align: center;
	padding: 80px 0;

}
.section-2-title {
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 57px;
	color: #252b42;
	margin-top: 0;
	margin-bottom: 10px;

}
.section-2-suptitle {
	max-width: 470px;
    margin: 0 auto;
    font-family:'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #737373;
    text-align: center;
}
.section-2-card {
	width: 328px;
	display: flex;
	padding-bottom: 80px;

}
.card-section-2 {
}
.card-icon {
	display: flex;
    justify-content: baseline;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 44px;
}
.section-2-h5 {
	font-family:'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #252b42;
    margin-left: 15px;
}
.card-list {
	border: 1px solid #a9d6ff;
    background-color: #fff;
    border-radius: 11px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 44px;
}
.card-list li {
	list-style-type: none;
    font-family:'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #737373;
    margin-bottom: 5px;

}
.card-list #learn-1, #learn-2, #learn-3 {
	font-family:'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #ffa62b;
}
.card-section-2{
    display: flex;
    flex-direction: column;
    
    background-color: #D9EDFF;
    border-radius: 10px;
    margin:0 auto;
    width: 328px;
    
    
}
